﻿@page "/"
@page "/home"
@using SimpleBlazorApp.DataAccess
@using SimpleBlazorApp.Models;
@inject SimpleBlazorApp.Controller.ISettlementService settlementService

<div class="row">
	<div class="col-md-4">
		<EditForm Model="Settlement">
			<div class="row">
				<div class="col-md-4">
					<label>Name: </label>
				</div>
				<div class="col-md-8">
					<input @bind="Settlement.Name" style="width:100%" placeholder="Settlement name" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label>Area: </label>
				</div>
				<div class="col-md-8">
					<input @bind="Settlement.Area" type="number" style="width:100%" placeholder="Settlement area" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label>Population: </label>
				</div>
				<div class="col-md-8">
					<input @bind="Settlement.Population" type="number" style="width:100%" placeholder="Settlement population" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label>Type: </label>
					<div class="col-md-8">
						<InputSelect class="form-select" @bind-Value="Settlement.Type">
							@foreach (var settlementType in Enum.GetValues(typeof(SettlementType))) {
								<option value="@settlementType">@settlementType.ToString()</option>
							}
						</InputSelect>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<button class="btn btn-primary" @onclick="@(e => Save())">Save</button>
				</div>
			</div>
		</EditForm>
	</div>
	<div class="col-md-8">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Type</th>
					<th>Area</th>
					<th>Population</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@if(Settlements.Count() > 0) {
					@foreach(var sett in Settlements) {
						<tr>
							<td>@sett.Id</td>
							<td>@sett.Name</td>
							<td>@sett.Type</td>
							<td>@sett.Area</td>
							<td>@sett.Population</td>
							<td>
								<button class="btn btn-danger" @onclick="@(e => Delete(@sett.Id))">Delete</button>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>

@code {
	Settlement Settlement = new Settlement();
	List<Settlement> Settlements = new List<Settlement>();

	protected override async Task OnInitializedAsync() {
		GetSettlements();
	}

	private void GetSettlements() {
		Settlements = settlementService.GetSettlements();
	}

	private void Save() {
		settlementService.SaveOrUpdate(Settlement);
		Reset();
		GetSettlements();
	}

	private void Reset() {
		Settlement = new Settlement();
	}

	private void Delete(string id) {
		settlementService.Delete(id);
		GetSettlements();
	}
}